<!DOCTYPE html>
<html>
    <head>
        <title> Author Adding </title>
    </head>
    <body>
        
        <h1> Adding New Author </h1>

        <form>
   
            ID : Some Number fromn Database
   
            Author: <input type="text" name="authorName">
            
            DOB: <input type="text" name="DOB">
            
            DOD: <input type="text" name="DOD">
            
            
            Gender:
            <select name="gender">
                <option value="">Select One</option>
            </select>
            
            
          
            
            <button> Add! </button>

        </form>

    </body>
</html>